body {
  background-color: #252422;
  /* background-image: url('./wooden-dark.png'); */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
  color: #c6ac8f;
 
}
.tabs {
  display: flex;
  width: 100;
  padding: 0 10%;
  align-items: center;
  justify-content: space-between;
  background-color: #D5BDAB;

}
.nav {
  display: flex;
  width: 40%;
  color: black !important;
  justify-content: space-between;

 
}

.column {
 float: left;
  width: 33.33%;
  padding: 5px;
}
.card-header h4 {
  color: black;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
  justify-content: space-between;
}
.column img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.section {
  display: flex;
  justify-content: space-between;
}
/* .text-center {
  background-color: white;
} */
.card {
  color: black;
}
.div1 {
  color: white;
  font-size: 13px;
  text-align: left;
  margin: 0 auto 0 auto;
  padding: 30px;
}

.div1 {
  width: 300px;
  height: 150px;  
  padding: 50px;
  border: 2px solid white;
  box-sizing: border-box;
}
.footer {
  background-color:  #606c38;
  color: white;
  padding-top: 3em;
  position: fixed;
  left:0;
  bottom:0;
  right:0;
}
.footer{
  display: flex;
  flex-direction: column; 
  min-height: vh;
}

.footer {
  flex:  1;
}
.container {
  color: white;
}
.card-header {
  color: white;
  }

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
